.sticks-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
 .sticksCard{
    display: inline-block;
    border: 0px;
    min-width: 180px;
    min-height: 150px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    transition: .5s;
}
.sticksCard:hover{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.addButton{
    transition: 5s;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(229, 228, 226);
    }
.plusIcon{
    font-size: 140px !important;
    color: rgba(63, 67, 40, 0.423);
    transition: transform 0.5s ease-in-out;
  
}
.plusIcon:hover{
    transition: .5s;
    transform: scale(1.05);
    // box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}